.header {
  background-color: #f1f1f1;
  padding: 20px;
  height: 50px;
}

.main-content {
  background-color: lightcyan;
  padding: 20px;
  height: 300px;
}

.footer {
  background-color: lightblue;
  padding: 20px;
  height: 300px;
}
